<a href="https://colab.research.google.com/github/AkshayTallikar/Stock-Sentiment-Analysis/blob/master/Stock_Sentiment_v4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup
import os
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from csv import writer
from sklearn.feature_extraction.text import TfidfTransformer
from textblob import TextBlob
import re
import nltk
nltk.download('punkt')
finwiz_url = 'https://finviz.com/quote.ashx?t='

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [ ]:
def append_list_as_row(file_name2, list_of_elem):
    # Open file in append mode
    with open(file_name2, 'a+', newline='') as write_obj:
        # Create a writer object from csv module
        csv_writer = writer(write_obj)
        # Add contents of list as last row in the csv file
        csv_writer.writerow(list_of_elem)

In [ ]:
news_tables = {}
tickers = ['AMZN','TWTR','AZN','FB','TSLA','GOOG','GENE']

for ticker in tickers:
    url = finwiz_url + ticker
    req = Request(url=url, headers={'user-agent': 'my-app/0.0.1'})
    response = urlopen(req)
    # Read the contents of the file into 'html'
    html = BeautifulSoup(response)
    # Find 'news-table' in the Soup and load it into 'news_table'
    news_table = html.find(id='news-table')
    # Add the table to our dictionary
    news_tables[ticker] = news_table

In [ ]:
parsed_news = []

# Iterate through the news
for file_name, news_table in news_tables.items():
    # Iterate through all tr tags in 'news_table'
    for x in news_table.findAll('tr'):
        # read the text from each tr tag into text
        # get text from a only
        text = x.a.get_text()
        # splite text in the td tag into a list
        date_scrape = x.td.text.split()
        # if the length of 'date_scrape' is 1, load 'time' as the only element

        if len(date_scrape) == 1:
            time = date_scrape[0]

        # else load 'date' as the 1st element and 'time' as the second
        else:
            date = date_scrape[0]
            time = date_scrape[1]
        # Extract the ticker from the file name, get the string up to the 1st '_'
        ticker = file_name.split('_')[0]

        # Append ticker, date, time and headline as a list to the 'parsed_news' list
        parsed_news.append([ticker, date, time, text])

In [ ]:


columns = ['ticker', 'date', 'time', 'headline']

# Convert the parsed_news list into a DataFrame called 'parsed_and_scored_news'
parsed_and_scored_news = pd.DataFrame(parsed_news, columns=columns)

In [ ]:
Today_news = parsed_and_scored_news[parsed_and_scored_news['date'] > 'Jul-14-20'].copy()
appendtext = []
for j in range(len(Today_news)):
  appendtext.append(parsed_and_scored_news['headline'][j])

In [ ]:
filename = "Newstoday.csv"
# opening the file with w+ mode truncates the file
f = open(filename, "w+")
f.close()

In [ ]:

for i in range(len(appendtext)):
  append_list_as_row('Newstoday.csv',appendtext[i])

In [ ]:
filename = "Newsfinal.csv"
# opening the file with w+ mode truncates the file
f = open(filename, "w+")
f.close()

In [ ]:

with open("Newstoday.csv") as infile, open("Newsfinal.csv", "w") as outfile:
    for line in infile:
        outfile.write(line.replace(",", ""))

In [ ]:
filename = "Newstoday(1).csv"
# opening the file with w+ mode truncates the file
f = open(filename, "w+")
f.close()

In [ ]:
append_list_as_row('Newstoday(1).csv','sentence')

In [ ]:
with open("Newsfinal.csv") as infile, open("Newstoday(1).csv", "w") as outfile:
    for line in infile:
        outfile.write(line.replace('"', ""))

In [ ]:
df8 = pd.read_csv('Newstoday(1).csv')

In [ ]:
df8

    Twitter Hackers Divert Bitcoin Spoils to Other Accounts
0    After $20 Billion Jio Frenzy Ambani Seeks Mone...
1    Massive Twitter Hack Hits Buffett Bezos Musk a...
2    Amazon Extends Work-From-Home Order Through Ja...
3    Apple Ruling Makes Silicon Valleys Nightmare a...
4    AWS Announces Amazon Interactive Video Service...
..                                                 ...
238  Coronavirus update: Florida sees deadliest day...
239  U.S. planning for tens of millions of potentia...
240  AstraZeneca's sNDA for Brilinta Gets FDA's Pri...
241  Coronavirus vaccine makers to testify before U...
242  Africa could have COVID-19 vaccine in Q1 if hu...

[243 rows x 1 columns]

In [ ]:
df8['polarity'] = df8.apply(lambda x: TextBlob(x['sentence']).sentiment.polarity, axis=1)
df8['subjectivity'] = df8.apply(lambda x: TextBlob(x['sentence']).sentiment.subjectivity, axis=1)

In [ ]:
df8["Ticker"] = "AMZN"
df8.to_csv("Newstoday(1).csv", index=False)

In [ ]:
df8

                                              sentence  ...  Ticker
0    After $20 Billion Jio Frenzy"" Ambani Seeks Mo...  ...    AMZN
1    Massive Twitter Hack Hits Buffett"" Bezos"" Mu...  ...    AMZN
2    Amazon Extends Work-From-Home Order Through Ja...  ...    AMZN
3    Apple Ruling Makes Silicon Valleys Nightmare a...  ...    AMZN
4    AWS Announces Amazon Interactive Video Service...  ...    AMZN
..                                                 ...  ...     ...
236  Britain to set out its position on EU vaccine ...  ...    AMZN
237    UK to shun EU coronavirus vaccine purchase plan  ...    AMZN
238  Astrazeneca (AZN) Stock Moves -0.41%: What You...  ...    AMZN
239  Coronavirus update: Florida sees deadliest day...  ...    AMZN
240  U.S. planning for tens of millions of potentia...  ...    AMZN

[241 rows x 4 columns]

In [ ]:
parsed_and_scored_news

    ticker  ...                                           headline
0     AMZN  ...  After $20 Billion Jio Frenzy, Ambani Seeks Mon...
1     AMZN  ...  Massive Twitter Hack Hits Buffett, Bezos, Musk...
2     AMZN  ...  Amazon Extends Work-From-Home Order Through Ja...
3     AMZN  ...  Apple Ruling Makes Silicon Valleys Nightmare a...
4     AMZN  ...  AWS Announces Amazon Interactive Video Service...
..     ...  ...                                                ...
654   GENE  ...       Results from 31 January 2018 General Meeting
655   GENE  ...                           Resignation of Directors
656   GENE  ...  Genetic Technologies Limited: Quarterly Activi...
657   GENE  ...             Benzinga Pro's 5 Stocks To Watch Today
658   GENE  ...  Today's Research Reports on Stocks to Watch: T...

[659 rows x 4 columns]

In [ ]:
parsed_and_scored_news


data_test = parsed_and_scored_news[parsed_and_scored_news['date'] > 'Jul-13-20'].copy()


headlines = data_test['headline']

In [ ]:
df = pd.read_csv('stock_datafinal.csv')

In [ ]:
positive = df[df['Sentiment']==1]
Negative = df[df['Sentiment']==0]
positive.shape

(3341, 2)

In [ ]:
Negative.shape

(1634, 2)

In [ ]:
positive = positive.sample(Negative.shape[0])

In [ ]:
positive.shape

(1634, 2)

In [ ]:
data = positive.append(Negative,ignore_index=True)
data.tail()

                                                   Text  Sentiment
3263  JOSB 50% off on almost everything. Funny, they...          0
3264          DE considering buying some put options...          0
3265  Happy Easter! SHOT Setups: CS ISG CF AN NKD OW...          0
3266  CAT may try to jump on the boat with some Put ...          0
3267  If AAP goes to over 451, I will go short. Stil...          0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data['Text'], data['Sentiment'], test_size=.1, random_state=0,
                                                    shuffle=True,stratify=data['Sentiment'] )

In [ ]:
clf = Pipeline([('tfidf', TfidfVectorizer()), ('clf', SVC(C=10000, gamma='auto'))])

In [ ]:
clf.fit(X_train,y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 SVC(C=10000, break_ties=False, cache_size=200,
                     class_weight=None, coef0=0.0,
                     decision_function_shape='ovr', degree=3, gamma='auto',
                     kernel='rbf', max_iter=-1, probability=False,
                     random_state=None, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
confusion_matrix(y_test, y_pred)

array([[128,  36],
       [ 36, 127]])

In [ ]:
accuracy_score(y_test, y_pred)

0.7798165137614679

In [ ]:
pos = []
neg = []
error = []
ticker2 = []
realticker =[]

In [ ]:
data_test.shape[0]

394

In [ ]:

for i in range(0,data_test.shape[0]):
  try:
      if clf.predict([df8['sentence'][i]])==1:
        ticker2=[data_test['ticker'][i]]
        realticker.append(ticker2)
        pos.append('1')
      else: 
        neg.append('0')
  except KeyError:
    error.append('error')

In [ ]:
len(pos)

109

In [ ]:
len(neg)

72

In [ ]:
len(error)

213

In [ ]:
realticker

[['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['AMZN'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['TWTR'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN'],
 ['AZN']]